body {
  margin: auto;
  display: grid;
  width: 66.67%;
}

nav {
  display: flex;
}


nav>ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.nav-mobile{
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.nav-mobile img{
  flex-grow: 1;
  max-height: 40px;
}

/* Default to hide both */
.nav-mobile,
.nav-desktop {
  display: none;
}

/* Show .nav-mobile on mobile (max-width: 768px) */
@media (max-width: 768px) {
  .nav-mobile {
    display: flex;
  }
  body {
    margin: auto;
    display: grid;
    width: 100%;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  footer section{
    margin:0;
    padding-left: 30px;
  }
}

/* Show .nav-desktop on desktop (min-width: 769px) */
@media (min-width: 769px) {
  .nav-desktop {
    display: flex;
  }
  footer section{
    margin: 30px;
    width: auto;
  }
}

.mobile-menu {
  position: fixed;         /* Fixes the element relative to the viewport */
  top: 0;                  /* Aligns the top edge of the menu to the top of the screen */
  left: 0;                 /* Aligns the left edge of the menu to the left of the screen */
  width: 100%;             /* Ensures the menu takes up the full width */
  height: 100%;            /* Ensures the menu takes up the full height */
  background-color: black; /* Black background */
  color: white;            /* White text */
  z-index: 9;              /* Ensures it appears above other content */
  display: flex;
  flex-direction: column;
  padding: 10px;
}


.mobile-menu a{
  color: white;
}

.mobile-menu ul{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;     
}


main{
  min-height: 100vh;
}

footer {
  display: flex;
}

footer section {
  display: flex;
  /* width: 100%; */
  flex-grow: 1;
  justify-content: space-evenly;
}

footer section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

footer img{
  margin: 10px 100px 10px 10px;
  background-color: gray;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  padding: 0;
}